<div class="row">
	<div class="img-passeport thumbnail">
		<%= image_tag "passport2.jpg" %>
	</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
<h2>Wahid</h2>
<p>Je suis diplômé d'un DEA en Sciences politiques et relations internationales. J'ai fait un mémoire sur le droit d'ingérence humanitaire dans les relations internationales.
J'ai à mon actif 15 ans d'expérience dans l'humanitaire. Directeur de rédaction de la revue Planète Humanitaire et Tarik al kheir (le chemin de la bienfaisance - revue Edition Internationale) - Plusieurs voyages Humanitaires (Afrique et Moyen-Orient) : Soudan, Irak, Jordanie, Egypte, Maroc, Algérie, Tchad etc.
Campagne de sensibilisation autour de causes humanitaires en France et en Europe
Loisirs: Football, footing, Lecture, voyage</p>
  </div>
</div>

