<div class="text-center titre-articles">
<h1>Carnet de bord</h1>
</div>

<div class="panel panel-default panel-article">
  <div class="panel-body">
  	<h1 class="text-center"> Chapitre 1 : Avant le départ</h1>
  	<h2 class="text-center"> Là où tout commence ! </h2>
<p>Demi finale de la coupe de l’UEFA. Dans un fast-food du quartier Collinet de Meaux, nous discutons avec Wahid. Politique, actualité. Les images du match de foot défilent derrière Wahid. Quelques lascards viennent déguster un sandwich devant ce match retransmis sur la sixième chaîne.</br>
</br>
“ Ali, j’aimerai t’emmener avec moi pour une mission humanitaire” me dit Wahid au milieu de notre discussion. J’avale une gorgée de mon verre de thé en fronçant les sourcils. J’ai déjà participé à des maraudes et des collectes pour des colis humanitaires, mais jamais je suis parti dans le cadre d’une mission portée par une ONG. “Où ça ?” je lui demande. “J’aimerai qu’on lance quelque chose dans les camps de réfugiés centrafricains au Tchad et syriens au Liban” me répond-il.
</br>
On échange sur le cadre et le but de ces voyages. “Identifier des partenaires”, “rencontrer des forces vives aptent à prendre en charge leurs concitoyens”, “rendre la dignité à ces population”.”Dignité”, le mot est lancé. Au-delà de tout ce qu’il a pu me dire d’autre, ce mot a suffi à me convaincre de le suivre dans cette mission. La dignité est ce qui nous reste quand le matériel autour de nous s’est effondré. La dignité c’est la dernière chose qui peut être sauvée quand toute ta famille a été décimée.</br>
</br> 
Malheureusement, sous prétexte qu’on donne à ces populations meurtries de la nourriture et une aide médicale, nos caméras d’occidentaux s’autorisent trop souvent à leur voler leur dignité à coup de clips sensationnalistes.
</br>
Je m’appelle Ali, j’ai 27 ans. Mon domaine d’activité est l’audiovisuel et le développement informatique. J’ai accepté de prendre part à cette aventure humaine pour préserver et/ou rendre leur dignité aux populations en souffrance dans le monde.</br>
Ali </p>
<hr>
</div>
</div>
<div class="featurette">
	<p>Nos partenaires en Syrie et au Liban (qui accueille plus d’un million de réfugiésSyriens  dont  500 000  enfants),  nous  décrivent  une  situation  humanitairealarmante et d’autant plus inquiétante pour le  LIBAN que les réfugiés syriensreprésentent  désormais  plus  de  25% de  la  population  locale</p>
</div>