<div class="text-center titre-articles">
	<h1>Carnet de bord</h1>
</div>

<div class="debut media">          
   <div class="media-body">
	<h1 class="text-center"> Chapitre 1 : Avant le départ</h1>
	<h2 class="text-center"> Là où tout commence ! </h2>
	<div class="pull-right thumbnail">
		<%= image_tag "passport.jpg" %>
	</div>
	<p>Avril 2014. Demi finale de la coupe de l’UEFA. Dans un fast-food du quartier Collinet de Meaux, nous discutons avec Wahid. Politique, actualité. Les images du match de foot défilent derrière Wahid. Quelques lascards viennent déguster un sandwich devant ce match retransmis sur la sixième chaîne.</br>
	</br>
	“ Ali, j’aimerai t’emmener avec moi pour une mission humanitaire” me dit Wahid au milieu de notre discussion. J’avale une gorgée de mon verre de thé en fronçant les sourcils. J’ai déjà participé à des maraudes et des collectes pour des colis humanitaires, mais jamais d'opération à l'étranger dans le cadre d’une mission portée par une ONG. “Où ça ?” je lui demande. “J’aimerais qu’on lance quelque chose dans les camps de réfugiés centrafricains au Tchad et syriens au Liban” me répond-il.
</br>
On échange sur le cadre et le but de ces voyages. “tisser des liens avec des acteurs locaux”, "évaluer les besoins", "rencontrer des forces vives aptent à prendre en charge leurs concitoyens”, “rendre la dignité à ces population”.”Dignité”, le mot est lancé. Au-delà de tout ce qu’il a pu me dire d’autre, ce mot a suffi à me convaincre de le suivre dans cette mission. La dignité est ce qui nous reste quand le matériel autour de nous s’est effondré. La dignité c’est la dernière chose qui peut être sauvée quand toute ta famille a été décimée.</br>
</br> 
Malheureusement, sous prétexte qu’on donne à ces populations meurtries de la nourriture et une aide médicale, nos caméras d’occidentaux s’autorisent trop souvent à leur voler leur dignité à coup de clips sensationnalistes. Je pose une question simple : aimerions-nous que le monde entier nous voit dans la déchéance la plus totale ? Montrer la réalité oui, sans le respect de la dignité humaine, non.
</br>
Je m’appelle Ali, j’ai 27 ans. Mon domaine d’activité est l’audiovisuel et le développement informatique. J’ai accepté en toute humilité de prendre part à cette aventure humaine pour préserver et/ou rendre leur dignité aux populations en souffrance dans le monde.</br>
</br>
Ali </p>
mai 2014
</div>
</div>
</br>
<div class="wahid media">          
	<div class="media-body">
		<h2>Wahid</h2>
		<p>Je m'appelle Wahid, diplômé d'un DEA en Sciences politiques et relations internationales. Alors étudiant, le monde de l'humanitaire m'attirait déjà. J'ai donc présenté un mémoire sur le droit d'ingérence humanitaire dans les relations internationales.
			Cela fait 15 ans  maintenant que je suis dans l'humanitaire. Il est temps pour moi de transmettre ce que j'ai appris pour qu'une nouvelle génération prenne le relais. Au-delà, il y a l'urgence de préserver la dignité des populations frappées par des conflits ou catastrophes naturelles. Cette préservation passe par un respect de leur image et en faisant entendre leur voix au plus grand nombre dans la dignité. 
			Je prendrai la plume un peu plus tard; pour le moment je dois boucler les conditions de notre arrivée à Ndjamena, la capitale du Thad. Merci</p></br>

			Wahid</br>
			Mai 2014
		</div>
	</div>
</br>

	<div class="piqure media">          
		<div class="media-body">
			<h2 class="text-center">Aïe ça pique !</h2>
			<div class="pull-left vaccin thumbnail">
				<%= image_tag "vaccin.jpg" %>
			</div>
			<p>Nous sommes à deux semaines du départ. Pour l'obtention du visa, les autorités tchadienne demande la vaccination contre la fièvre jaune. Alors c'est simple, le grand dadet que je suis flippe grave des piqures. D'ailleurs, la quasi totalité de mes vaccins ne sont pas à jour...bon c'est vrai aussi que je me méfie aussi de tout ce qui est pharmaceutique depuis le scandale du vaccin contre la grippe aviaire.</br>
				Lorsque notre tour arrive pour se faire vacciner, mon rythme cardiaque accélère. Manque de chance on tombe sur une infirmière visiblement de mauvaise humeur. "Retournez dans la cabine, retirez votre pull et découvrez votre bras" nous dit-elle sèchement. Une fois devant elle, Wahid tente de détendre tout le monde avec une blague. L'infirmière relève la tête, s'arrête d'écrire sur nos carnets de vaccination. Elle le fixe droit dans les yeux, l'air de dire "toi tu veux souffrir". Elle se tourne vers moi "Monsieur, posez votre bras droit sur la table"...pour mon honneur, la suite ne sortira pas de cette salle. snif ; (
			</br>
			Ali </br>
			jeudi 22 mai 2014
		</p>
	</div>
</div>
</br>
<div class="orsay media">          
	<div class="media-body">
		<p>"Les attaques et les enlèvements intervenus récemment dans l’Extrême-Nord du Cameroun et dans les Etats du nord du Nigéria, imputées au groupe terroriste Boko Haram, maintiennent le risque sécuritaire à un niveau très élevé.</br>
		</br>
		<div class="thumbnail">
			<%= image_tag "ariane.png" %>
		</div>
		Toutes les zones frontalières du Tchad sont formellement déconseillées, ainsi que la région du Lac Tchad. La frontière avec la République centrafricaine est par ailleurs fermée jusqu’à nouvel ordre.</br>
	</br>
	Le reste du pays est déconseillé sauf raison impérative (zone orange). Les déplacements doivent se faire par voie aérienne ; à défaut sous escorte des forces de sécurité locales."</p>
</div>
</div>
</br>
<div class="doute media">          
	<div class="media-body">
		<h2>Les doutes...</h2>
		<p>Ce projet est née de la rencontre merveilleuse de 2 humanitaires animés par les mêmes valeurs et la conviction profonde que  « chacun d’entre nous peut changer la vie d’un être, un jour, une semaine, un mois, un an… toute une vie ». Convaincus qu’il n’y a pas de fatalité, qu’il suffit de le décider pour refuser l’indignité

			Si aimer c’est protéger, alors aimer le pauvre, l’orphelin, l’opprimé c’est mettre tout en œuvre pour le protéger. Ce sont sur ces valeurs que Wahid et moi, Sabrina nous avons scellé nos destins. Nous ont rejoints par la suite Mohamed, Ali, Jérémy, Abdellah, Henni, Boubaker, Najat, Anas et tant d’autres, tous animés par la même flamme, la même foi.</br>
		</br>
		Aujourd’hui à J-1, je ressens une sensation étrange, c’est assez complexe. Il y a la peur et l’adrénaline face au danger, les zones frontalières Centrafricaines étant à haut risque (en zone rouge), mais en même temps je ressens une grande confiance en Dieu et en Sa volonté. Je ressens beaucoup d'amour, l'amour de ces orphelins (on compte environs 500 nouveaux nés sans père ni mère...) qui souffrent. </br>
		La responsabilité du devoir aussi, cette responsabilité qui m'empêche de me retourner malgré les doutes parfois... souvent...toujours en vérité. Le doute qui ne me quitte jamais et la responsabilité qui me pousse toujours vers mon destin, celui de ces orphelins Centrafricains.

		A Wahid et Ali, Dieu est là. Dieu vous guide. Dieu vous protège. Amine </p></br>
		Sabrina</br>
		mercredi 4 juin 2014
	</div>
</div>
</br>
<div class="syrie media">          
	<div class="media-body">
		<p>"Nos partenaires en Syrie et au Liban (qui accueillent plus d’un million de réfugiés Syriens  dont  500 000  enfants),  nous  décrivent  une  situation  humanitaire alarmante et d’autant plus inquiétante pour le  Liban que les réfugiés syriens représentent  désormais  plus  de  25% de  la  population  locale"</p>
	</div>
</div>
</br>
<div class="doute media">          
	<div class="media-body">
<hr>