<body>

    <div class="container">
          <div class="media">          
            <div class="media-body">
              <div class="pull-left">
                <div class="thumbnail">
                  <%= image_tag "Enfant2.JPG" %>
                </div>
              </div>
              <div class="text-intro">
               <h2 class="text-center">J -4 : Direction le Tchad !</h2>
                <h4>Le Moyen-Orient et l'Afrique : deux zones géographiques secouées par des conflits armés. Portés par le désir de rendre une dignité à ces populations nous, Wahid et Ali, préparons notre départ au Tchad et au Liban. Via notre blog vous allez prendre part au voyage : les préparatifs avant le départ et les péripéties sur place. </br>
                </br>
                Voici notre carnet de bord qui est plus une immersion dans notre mission qu'un vecteur d'autosatisfaction pour notre égo !</h4>
            </div>
          </div>
        </div>
          <hr>

          <div class="row">
            <div class=" article1 col-md-6">
              <h2>Là où tout commence</h2>
            <div class="thumbnail">
              <%= image_tag "siège.JPG" %>
            </div>
              <h4>“ Ali, j’aimerai t’emmener avec moi pour une mission humanitaire” me dit Wahid au milieu de notre discussion. J’avale une gorgée de mon verre de thé en fronçant les sourcils. J’ai déjà participé à des maraudes et..."</h4>
              <p><a class="btn btn-default" role="button" <%= link_to "Lire", articles_index_path %> </a></p>
            </div><!--/span-->
            <div class="article2 col-md-6">
              <h2>Aïe ça pique !</h2>
              <div class="thumbnail">
              <%= image_tag "vaccin.jpg" %>
              </div>
              <h4>Pour l'obtention du visa, les autorités tchadienne demande la vaccination contre la fièvre jaune. Alors c'est simple, le grand dadet que je suis flippe grave des piqures. D'ailleurs, la quasi totalité de mes vaccins ne sont pas à jour...bon j'avoue que je me méfie aussi de tout ce qui est pharmaceutique depuis le scandale du vaccin contre la grippe aviaire.  </h4>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->

    </div><!--/.container-->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="offcanvas.js"></script>
  </body>
</html>
