<div class="panel panel-default panel-article">
  <div class="panel-body text-center">
  	<div class="text-center facebook thumbnail">
  		<%= image_tag "facebook.png" %>
  	</div>
  	Facebook : Route vers la Dignité"
  </div>
</div>

<a href="https://www.facebook.com/route.dignite"></a>
<a>
<img src="/home/simplonco/app/dignite/dignite/app/assets/images/facebook.png">
</a>