<div class="panel panel-default panel-article">
  <div class="panel-body">
  	<div class="fb thumbnail">
  	<a href="https://www.facebook.com/route.dignite">
       <%= image_tag "fb.png" %>
    </a>
    </div>
  	<p>Facebook : Route vers la Dignité</br>
  		Pour nous suivre en temps réel lors de nos actions, Likez notre page facebook !
  	</p>
  </div>
</div>
